/* NAVBAR */
html, body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1 0 auto;
}
.header {
  /* position: fixed; */
  left: 0;
  width: 100%;
  height: 150px;
  background-color: #fff;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.1);
  z-index: 1;
}
.logo {
  cursor: pointer;
  width: auto;
  height: 130px;
  float: left;
  margin: auto 20px;
  transition: transform 0.2s ease-in-out;
}
.logo:hover {
  transform: scale(1.2);
}
.title {
  font-size: 24px;
  color: #333;
  margin: 0;
  padding: 20px;
  text-align: center;
}

/* FOOTER */
.footer {
  /* position: absolute; */
  /* left: 0; */
  /* bottom: 0; */
  width: 100%;
  height: 90px;
  background-color: #fff;
  box-shadow: 0 -3px 7px rgba(0, 0, 0, 0.1);
  /* z-index: 1; */
}
.footer .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
.footer .logo {
  height: 50px;
  margin: 10px;
  transition: transform 0.2s ease-in-out;
}
.footer .logo:hover {
  transform: scale(1.2);
}
.footer .text {
  padding: 10px 20px;
}

/* Navigation styles */
nav {
  display: flex;
  align-items: center;
  height: 100%;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  height: 100%;
}
nav li {
  margin: 0 10px;
  font-size: 30px;
}
nav a {
  display: block;
  padding: 10px 20px;
  color: #333;
  text-decoration: none;
}
nav a.active {
  border-bottom: 3px solid rgb(79, 158, 255);
}
nav a:hover {
  background-color: #2e3f59;
  color: #ffffff;
  border-radius: 7px;
}

/* DISPLAY */
h1 {
  margin-top: 50px;
  font-size: 320%;
  color: #1e293b;
  text-align: center;
  font-family: 'Segoe UI', monospace;
}
.marginauto {
  margin: 50px auto 20px auto;
  display: block;
}
.indicator {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: #F2F2F2;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  transition: background-color 0.3s ease;
  width: fit-content;
  margin: 0 auto;
  transform: scale(1.1);
}
#detection-text {
  margin-right: 5px;
}
#detection-state {
  font-size: 18px;
}

/* FEED BUTTON */
.button-81 {
  background-color: rgb(106, 173, 255);
  border: 0 solid #e2e8f0;
  border-radius: 1.5rem;
  box-sizing: border-box;
  color: #0d172a;
  cursor: pointer;
  display: inline-block;
  font-family: "Basier circle",-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1;
  padding: 1rem 1.6rem;
  text-align: center;
  text-decoration: none #0d172a solid;
  text-decoration-thickness: auto;
  transition: all .1s cubic-bezier(.4, 0, .2, 1);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.button-81:hover {
  background-color: #2e3f59;
  color: #fff;
  transform: scale(1.2);
}
@media (min-width: 768px) {
  .button-81 {
    font-size: 1.125rem;
    padding: 1rem 2rem;
  }
}

/* SETTINGS */
#tableContainer-1 {
  height: 100%;
  width: 100%;
  display: table;
}
#tableContainer-2 {
  /* vertical-align: middle; */
  display: table-cell;
  height: 100%;
}
#tableContainer-1-small {
  height: 100%;
  width: 50%;
  display: table;
}
.user-table {
  margin: 0 auto; /* center the table */
  border-collapse: collapse; /* remove the cell borders */
  width: 100%; /* set the table width */
}
.user-table th,
.user-table td {
  padding: 10px; /* add padding to the cells */
  text-align: center; /* align the cell content to the left */
  font-size: 20px;
}
.user-table th {
  background-color: #dddddd; /* add a light gray background to the header cells */
  font-weight: bold; /* make the header text bold */
}
.user-table tr:nth-child(even) {
  background-color: #f1f1f1; /* add a light gray background to every even row */
}
input.checkbox {
  cursor: pointer;
  height: 35px;
  width: 35px;
}
input.slider {
  cursor: pointer;
  transform: scale(1.6)
}

/* SNACKBAR */
#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 300px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: rgb(121, 196, 137);
  color: #333;
  text-align: center;
  border-radius: 7px; /* Rounded borders */
  padding: 16px;
  position: fixed; /* Sit on top of the screen */
  z-index: 1;
  left: 50%; 
  bottom: 50%; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 50%; opacity: 1;}
}
@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 50%; opacity: 1;}
}
@-webkit-keyframes fadeout {
  from {bottom: 50%; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}
@keyframes fadeout {
  from {bottom: 50%; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}
