/* BODY */
html, body {
  height: 100%;
  /* width: 100% */
}
body {
  background: url('main_background.png');
  background-repeat: no-repeat;
  background-size: 150% 305%;
  backdrop-filter: blur( 16.5px );
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1 0 auto;
}
.header {
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 16.5px );
  -webkit-backdrop-filter: blur( 16.5px );
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  left: 0;
  height: 140px;
  /* z-index: 1; */
}
.title {
  font-size: 24px;
  color: #333;
  margin: 0;
  padding: 20px;
  text-align: center;
}

/* FOOTER */
.footer {
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 16.5px );
  -webkit-backdrop-filter: blur( 16.5px );
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  height: 90px;
  /* z-index: 1; */
}
.footer .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
.footer .logo {
  height: 50px;
  margin: 10px;
  transition: transform 0.2s ease-in-out;
}
.footer .logo:hover {
  transform: scale(1.2);
}
.footer .text {
  padding: 10px 20px;
}

/* Navigation styles */
.logo {
  cursor: pointer;
  width: auto;
  height: 130px;
  float: left;
  margin: auto 2px;
  transition: transform 0.2s ease-in-out;
}
.logo:hover {
  transform: scale(1.15);
}
.nav {
  align-items: center;
  /* overflow: hidden; */
}
.nav-right {
  margin: auto 2px;
  float: right;
}
.nav a {
  color: black;
  margin: 35px 10px auto auto;
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 30px;
}
.dropdown {
  float: left;
  overflow: hidden;
}
.dropdown-content {
  border-radius: 30px;
  display: none;
  position: absolute;
  background-color: rgba(214, 214, 214, 0.9);
  min-width: 230px;
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  /* z-index: 1; */
}
.dropdown .dropbtn {
  margin: 0;
  font-size: 30px;
  border: none;
  outline: none;
  background-color: inherit;
  font-family: inherit;
  text-align: center;
}
.dropdown-content a {
  margin: 12px;
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.nav a.active, .nav-right a.active, .dropdown.active {
  border-bottom: 3px solid #23226B;
}
.nav a:hover, .dropbtn a:hover {
  transform: scale(1.05);
  box-shadow: 0 3px 3px 0 rgba( 31, 38, 135, 0.37 );
  background-color: rgba(234, 234, 234, 0.7);
  border-bottom: rgba(234, 234, 234, 0.7);
  border-radius: 30px;
}

/* DISPLAY */
h1 {
  margin-top: 50px;
  font-size: 320%;
  color: #1e293b;
  text-align: center;
  font-family: 'Segoe UI', monospace;
}
.marginauto {
  box-shadow: 0 8px 32px 10px rgba(12, 15, 54, 0.37);
  margin: 50px auto 20px auto;
  display: block;
}
.indicator {
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: #e8e8e8;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  transition: background-color 0.3s ease;
  width: fit-content;
  margin: 0 auto;
  transform: scale(1.1);
}
#detection-text {
  margin-right: 5px;
}
#detection-state {
  font-size: 18px;
}

/* FEED BUTTON */
.button-81 {
  background-color: #cac4c2;
  box-sizing: border-box;
  color: #0d172a;
  display: inline-block;
  font-family: "Basier circle",-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1;
  padding: 1rem 1.6rem;
  text-align: center;
  text-decoration: none #0d172a solid;
  text-decoration-thickness: auto;
  transition: all .1s cubic-bezier(.4, 0, .2, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  border-radius:30px;
  box-shadow: 0 3px 3px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 16.5px );
  -webkit-backdrop-filter: blur( 16.5px );
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.button-81:hover:enabled {
  cursor: pointer;
  background-color: #8d8887;
  color: #fff;
  transform: scale(1.2);
}
@media (min-width: 768px) {
  .button-81 {
    font-size: 1.125rem;
    padding: 1rem 2rem;
  }
}

/* GLASS CARD */
.card{
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  padding: 1.5rem;
  border-radius: 30px;
  margin: 15px 0;
  transition: all .1s cubic-bezier(.4, 0, .2, 1);
  background: #e8e8e8;
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 16.5px );
  -webkit-backdrop-filter: blur( 16.5px );
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  backdrop-filter: blur(20px);
  transition: 250ms;
  transform-style: preserve-3d;
  transform-origin: center;
  z-index: 1;
  overflow: hidden;
}
.card:hover{
  background: linear-gradient(#cac4c2, #e8e8e8);
  transform: scale(1.01) translateZ(80px) translateY(-10px);
}
.name{
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-transform: capitalize;
  text-transform: uppercase;
  color: #23226B;
}
.description{
  font-size: 16px;
  text-transform: capitalize;
  color: #23226B;
  font-family: sans-serif;
}
.status{
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  text-transform: uppercase;
  color: #ffad1c;
}
.card-image img{
  width: 100px;
  height: 100px;
}

/* SETTINGS */
#tableContainer-1 {
  height: 100%;
  width: 100%;
  display: table;
}
#tableContainer-2 {
  display: table-cell;
  height: 100%;
}
#tableContainer-1-small {
  border-radius:30px;
  height: 100%;
  width: 70%;
  display: table;
}
.user-table {
  table-layout:fixed;
  overflow: hidden;
  border-radius:30px;
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 16.5px );
  -webkit-backdrop-filter: blur( 16.5px );
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  margin: 0 auto; /* center the table */
  border-collapse: collapse; /* remove the cell borders */
  width: 100%; /* set the table width */
}
.user-table th,
.user-table td {
  overflow: hidden; 
  text-overflow: ellipsis; 
  word-wrap: break-word;
  padding: 10px; /* add padding to the cells */
  text-align: center; /* align the cell content to the left */
  font-size: 20px;
}
.user-table th {
  background-color: #dddddd; /* add a light gray background to the header cells */
  font-weight: bold; /* make the header text bold */
}
.user-table tr:nth-child(even) {
  background-color: #dddddd; /* add a light gray background to every even row */
}
input.checkbox {
  border-radius:30px;
  cursor: pointer;
  height: 35px;
  width: 35px;
}
input.slider {
  cursor: pointer;
  transform: scale(1.6)
}

/* SNACKBAR */
#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 300px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: rgb(121, 196, 137);
  color: #333;
  text-align: center;
  border-radius: 30px; /* Rounded borders */
  padding: 16px;
  position: fixed; /* Sit on top of the screen */
  z-index: 1;
  left: 50%; 
  bottom: 50%; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 50%; opacity: 1;}
}
@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 50%; opacity: 1;}
}
@-webkit-keyframes fadeout {
  from {bottom: 50%; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}
@keyframes fadeout {
  from {bottom: 50%; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}
