<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" href="{{ url_for('settings.get_bot_image') }}">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Expires" content="0"/>

    <title>{{ server }} - About</title>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="../static/styles.css">

    <!-- <script>
      botName = new String({{ server }});
      console.log(typeof(botName));
      lastName = botName.substring(0, 5)
      botText = document.getElementById("botText");
      botText.innerHTML = `- ${lastName} Bot provides telegram services such as; server stats, device interfacing, jokes, facts, and trivia.`;
    </script> -->
  </head>

  <body>
    {% include 'includes/navbar.html' %}

      <div>
        <h1 class="h1">About</h1>
      </div>

      <div style="text-align: center; margin: auto 10%">
        <div style="display: inline-block; font-size: 25px;">
        <pre>
      <!-- <div style="margin: 0; padding: 0; display: flex; align-items: center; justify-content: left;">
        <div style="width: 75%; text-align: center; font-size: 25px;"> -->
          - Home assistant and IoT system utilizing a Raspberry Pi and Coral Tensor Processing Unit.<br>
          - Consists of a web application and Telegram bot employing AI/ML integration with a fault tolerant design.<br>
          - Exhibits a quantized multi-object machine learning classifier for realtime video object-detection.<br><br>
          - Follows a multi-threaded design to reduce process-blocking bottlenecks.<br><br> 
          - Employs a redundant (SMS/Telegram) notification system for quick alerts of activity.<br><br>
          - Includes reminder system with recurrence optioning.<br><br>
          - Seamlessly integrates a home automation system which is facilitated by the system's Mosquitto Broker via the MQTT protocol. This enables low bandwith/latency bidirectional communication.<br><br>
          <!-- - Home automation system is facilitated by the system's Mosquitto Broker via the MQTT protocol. This enables low bandwith/latency bidirectional communication.<br><br> -->
          - Users can connect IoT devices and sensors via Wifi and Rest-API technologies.<br><br>
          - Sensors asyncronously push updates only when needed to conserve bandwidth and/or battery.<br><br>
          - Home automation comprises of scenes and scene actions to automate home tasks like turning devices on/off and temperature control.<br><br>
          - Bot provides telegram services such as; server stats, device interfacing, jokes, facts, and trivia.<br><br>
          - Bespoke job engine asynchronously schedules tasks and services as background processes for reminders, scenes, etc.<br><br>
          - Personal data is secured by an AES algorithm in CBC (Cipher Block Chaining) mode with a 128-bit key for encryption which uses PKCS7 padding.
          <br><br>
          <!-- - Uses Python, Flask, SQLite, TensorFlow, OpenCV, Pytest, JavaScript, HTML, Peewee ORM, APScheduler, Mosquitto MQTT.
          Applies REST-API, networking, multi-threading, asynchrony, encryption, scheduling, and RTSP/SMTP/WebSocket/MQTT protocols. -->
        <!-- </div> -->
        <pre>
      <!-- </div> -->

      <div style="text-align: center;">
      <div style="display: inline-block; text-align: left; font-size: 25px;">
      <pre>
      <h2 style="text-align: center;">Hardware Specifications</h2>

      Host Server: Raspberry PI 4 
      - Model: B089ZZ8DTV
      - Processor: Broadcom BCM2711, quad-core Cortex-A72 (ARM v8) 64-bit SoC @ 1.5GHz
      - Operating System: 32-bit Raspbian GNU/Linux 11 (bullseye)
      - Linux Kernel: Linux raspberrypi 6.1.21-v8+ 
      - Memory: 8GB LPDDR4
      - Connectivity: 2.4 GHz and wireless LAN, Bluetooth, Gigabit Ethernet
      - Multimedia: H.265 H.264 OpenGL ES, 3.0 graphics
      - Flash Memory: SanDisk 64GB Extreme microSDXC UHS-I Micro SD Card
      - Input power: 3A 5V DC (USB-C or GPIO header) or PoE (requires PoE HAT)

      Google Edge Tensor Processing Unit: Used for high-speed ML inferencing.
      - Supported OS: Debian based Linux
      - Model: G950-06809-01
      - IO: up to 4 tera-ops per second (tops)
      - Connector: USB 3.0 Type-C 
      </pre>
  <br>
  <br>
  <br>

    {% include 'includes/footer.html' %}

  </body>
</html>
