<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
  <meta http-equiv="Pragma" content="no-cache"/>
  <meta http-equiv="Expires" content="0"/>

  <title>SeamNet o_O</title>
  <link rel="stylesheet" href="../static/styles.css">

  <script type="text/javascript">
    var count = 0;
    function change_camera() {
      count++;
      if (count == 0) {
        document.getElementById("feed").src = "{{ url_for('video_feed', cam='driveway') }}";
      } else if (count == 1) {
        document.getElementById("feed").src = "{{ url_for('video_feed', cam='front_porch') }}";
      } else if (count == 2) {
        document.getElementById("feed").src = "{{ url_for('video_feed', cam='sw_yard') }}";
      } else if (count == 3) {
        document.getElementById("feed").src = "{{ url_for('video_feed', cam='w_porch') }}";
      } else if (count == 4) {
        document.getElementById("feed").src = "{{ url_for('video_feed', cam='n_yard') }}";
      } else if (count == 5) {
        document.getElementById("feed").src = "{{ url_for('video_feed', cam='ne_yard') }}";
        count = -1;
      }
    }
  </script>

  <script>
    function set_active_cam() {
      var camera = String(document.getElementById("feed").src)
      $.post( "/active_cam", {
        active_cam: camera 
      });
    }
  </script>

  <script>
    function submitPoll(id){
      document.getElementById("next").disabled = true;
      document.getElementById('next').innerHTML = "Loading...";
      setTimeout(function(){document.getElementById("next").disabled = false;},500);
      setTimeout(function(){document.getElementById("next").innerHTML = "Next Camera";},500);
    }
  </script>
</head>

<body>
  <!-- Header -->
  <div id="navbar"></div>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <script>
    $(function(){
      $("#navbar").load("../static/navbar.html");
    });
  </script>

  <div>
    <h1 class="h1">SeamNet Surveillance</h1>
  </div>

  <div>
    <img id="feed" style="zoom: 135%;" src="{{ url_for('video_feed', cam='driveway') }}" class = "marginauto" alt="centered image">
  </div>

  <div style="text-align: center;" class = "marginauto">
    <button id="next" class="button-81" role="button" style="transform: scale(1.5)" onclick="change_camera(); submitPoll();">Next Camera</button>
  </div>

</body>
</html>
