<!DOCTYPE html>
<html>
<head>
  <link rel="icon" href="{{ url_for('settings.get_bot_image') }}">
  <link rel="manifest" href="manifest.json">

  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
  <meta http-equiv="Pragma" content="no-cache"/>
  <meta http-equiv="Expires" content="0"/>

  <title>{{ server }}</title>

  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

  <script type="text/javascript">
    if ('serviceWorker' in navigator) {
      navigator.serviceWorker.register("/sw.js");
    }
    sessionStorage.setItem("hash", "{{ hash }}");
  </script>

  <link rel="stylesheet" href="../static/styles.css">

  <script type="text/javascript">
    var count = 0;
    function change_camera() {
      count++;
      if (count == 0) {
        document.getElementById("feed").src = "{{ url_for('home.video_feed', cam='Driveway') }}";
      } else if (count == 1) {
        document.getElementById("feed").src = "{{ url_for('home.video_feed', cam='Front_Porch') }}";
      } else if (count == 2) {
        document.getElementById("feed").src = "{{ url_for('home.video_feed', cam='SW_Yard') }}";
      } else if (count == 3) {
        document.getElementById("feed").src = "{{ url_for('home.video_feed', cam='W_Porch') }}";
      } else if (count == 4) {
        document.getElementById("feed").src = "{{ url_for('home.video_feed', cam='N_Yard') }}";
      } else if (count == 5) {
        document.getElementById("feed").src = "{{ url_for('home.video_feed', cam='NE_Yard') }}";
        count = -1;
      }
    }
  </script>

  <script>
    function set_active_cam() {
      var camera = String(document.getElementById("feed").src)
      $.post( "/active_cam", {
        active_cam: camera 
      });
    }
  </script>

  <script>
    function submitPoll(id){
      document.getElementById("next").disabled = true;
      document.getElementById('next').innerHTML = "Loading...";
      setTimeout(function(){document.getElementById("next").disabled = false;},500);
      setTimeout(function(){document.getElementById("next").innerHTML = "Next Camera";},500);
    }
  </script>
</head>

<body>
  <!-- Header -->
  {% include 'includes/navbar.html' %}

  <br>

  <div class="content">
    <div>
      <h1 style="margin: 50px 0 50px 0;" class="h1">Surveillance Feed</h1>
    </div>

    <div id="feed-div">
      <div id="image-container">
        <span id="detection-indicator" class="indicator">
          <span id="detection-text"><i class="fas fa-eye"></i></span>
        </span>
        <img id="feed" style="zoom: 135%; border-radius: 8px;" src="{{ url_for('home.video_feed', cam='Driveway') }}" class="marginauto" alt="centered image">
      </div>
    </div>

    <div style="text-align: center; margin-top: 50px;">
      <span style="border-radius: 8px; background-color: rgb(212, 212, 212); padding: 10px; font-weight: bold; margin-right:5px; font-size: 20px;">
        <span id="message-cooloff-text">Message Cooloff: </span>
        <span id="message-cooloff-state">-</span>
      </span>

      <span style="border-radius: 8px; background-color: rgb(212, 212, 212); padding: 10px; font-weight: bold; margin-right: 5px; font-size: 20px;">
        <span id="min-conf-thresh-text">Min Conf Thresh: </span>
        <span id="min-conf-thresh-state">-</span>
      </span>

      <span style="border-radius: 8px; background-color: rgb(212, 212, 212); padding: 10px; font-weight: bold; margin-right: 5px; font-size: 20px;">
        <span id="extra-objects-text">Extra Objects: </span>
        <span id="extra-objects-state">-</span>
      </span>
    </div>

    <br>

    <div style="display: flex; align-items: center; justify-content: center; margin: 100px auto auto auto;">
      <button id="next" class="button-81" style="font-size: 1.5rem;" role="button" onclick="change_camera(); submitPoll(); getDetectionState()">Next Camera</button>
    </div>
  </div>

  <br>
  <br>
  <br>

  {% include 'includes/footer.html' %}

  <script>
      window.onload = function() {
        getDetectionState()
        getMessageCooloff()
        getMinConfThreshold()
        getExtraObjectsState()
      };

      function getDetectionState() {
        var url_split = document.getElementById("feed").src.split("/");
        var cam = url_split[url_split.length - 2]

        fetch('get_camera_data/' + cam)
        .then((response) => {
          return response.json();
        })
        .then((data) => {
          var detectionText = document.getElementById("detection-text");

          var indicator = document.getElementById("detection-indicator");

          if (data.success === "ON") {
            indicator.style.backgroundColor = "rgb(121, 196, 137)";
            detectionText.innerHTML = "<i class='fas fa-eye'></i>";
          } else {
            indicator.style.backgroundColor = "#F2F2F2";
            detectionText.innerHTML = "<i class='fas fa-eye-slash'></i>";
          }
        })
      }

      function getMessageCooloff() {
        fetch('get-message-cooloff')
        .then((response) => {
          return response.json();
        })
        .then((data) => {
          var stateText = document.getElementById("message-cooloff-state");
          stateText.innerText = data.success;
        })
      }

      function getMinConfThreshold() {
        fetch('get-conf-threshold')
        .then((response) => {
          return response.json();
        })
        .then((data) => {
          var stateText = document.getElementById("min-conf-thresh-state");
          stateText.innerText = data.success;
        })
      }

      function getExtraObjectsState() {
        fetch('get-draw-extra-objects')
        .then((response) => {
          return response.json();
        })
        .then((data) => {
          var stateText = document.getElementById("extra-objects-state");
          stateText.innerText = data.success;
        })
      }
  </script>

</body>
</html>
