<!DOCTYPE html>
<html>
<head>
    <link rel="icon" href="{{ url_for('settings.get_bot_image') }}">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Expires" content="0"/>

    <title>{{ server }} - Install</title>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="../static/styles.css">
</head>

<body>
    {% include 'includes/navbar.html' %}

    <div class="content">
        <div>
          <h1 class="h1">Install Instructions</h1>
        </div>

        <div style="text-align: center;">
        <div style="display: inline-block; text-align: left; font-size: 25px;">
        <pre>
        <h2 style="text-align: center;">Mobile</h2>

        - Navigate to the home page
        - Click the three dots on top-right 
          of browser
        - Select "Add to Home screen"
    
        <h2 style="text-align: center;">Desktop</h2>

        - Paste the following url in the browser:

            <a href="">chrome://flags/</a>

        - Search for <strong>insecure origins</strong>
        - Enter home url into the input box
        - Enable the setting and restart browser
        - Install button will now be enabled
        </pre>
        </div>
        </div>
    </div>

    <br>
    <br>
    <br>

    {% include 'includes/footer.html' %}

</body>
</html>
