<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Expires" content="0"/>

    <title>{{ server }} - Sensors</title>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="../static/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  </head>

  <body>
    <div id="navbar"></div>

    <div>
      <h1 class="h1">Sensors</h1>
    </div>

    <div id="tableContainer-1">
      <div id="tableContainer-2">
        <table class="user-table" style="margin-top: 50px; width: 80%; height: auto">
          <tr>
            <th>User</th>
            <th>Location</th>
            <th>Temperature</th>
            <th>Unit</th>
            <th>Temp Delta Thresh</th>
            <th></th>
          </tr>
          <tbody>
            {% for user in sensor_data %}
                {% if sensor_data[user] %}
                    {% for sensor in sensor_data[user] %}
                      <tr>
                        <td>{{ user if loop.index == 1 else '' }}</td>
                        <td>{{ sensor['location'] }}</td>
                        <td>{{ sensor['temperature'] }}</td>
                        <td>{{ sensor['temp_unit'] }}</td>
                        <td>{{ sensor['temp_delta_threshold'] }}</td>
                        <td>
                          <button id="delete" class="button-81" role="button" sensor_id="{{ sensor['id'] }}" user_firstname = "{{ user }}" style="margin-left: 10px; background-color: rgb(251, 71, 110);" onclick="deleteSensor(this)">
                            <i class="fas fa-trash-alt"></i> <!-- trash can icon -->
                          </button>
                        </td>
                      </tr>
                    {% endfor %}
                {% endif %}
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

    <br>
    <br>
    <br>

    <div>
      <h1 class="h1">Add a Sensor</h1>
    </div>
    <div style="text-align: center;">
      *To add a sensor, ensure it is in setup mode (SET). Setup mode lasts for 3 minutes.
    </div>

    <div id="tableContainer-1">
      <div id="tableContainer-2">
        <table class="user-table" style="margin-top: 50px; width: 80%; height: auto">
          <tr>
            <th>User</th>
            <th>Search
              <button id="scan" class="button-81" role="button" style="margin: 0px 0px 0px 0px; transform: scale(0.6);" onclick="scan()">
                <i class="fas fa-search"></i>
              </button>
            </th>
            <th>IP Address</th>
            <th>Location</th>
          </tr>
          <tbody>
            <tr>
              <td>
                <select id="userDropDown">
                  {% for user in users %}
                    <option value="{{ user.id }}" first_name="{{ user.first_name }}">{{ user.first_name }}</option>
                  {% endfor %}
                </select>
              </td>
              <td>
                <select id="sensorDropDown" onclick="populateIpAddress()" onchange="populateIpAddress()">
                  <option value="--select--" selected="selected">--select--</option>
                  {% for ip in scanned_sensors %}
                    <option value="{{ ip }}">{{ ip }}</option>
                  {% endfor %}
                </select>
              </td>
              <td>
                <input type="text" id="ipAddressInput" pattern="\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}" placeholder="x.x.x.x" required>
              </td>
              <td>
                <input type="text" id="locationInput" pattern="[A-Za-z]+" placeholder="Reaction chamber" required>
              </td>
            </tr>
            <tr>
              <td colspan="4">
                <button id="add" class="button-81" role="button" style="margin-left: 10px; width: 150px;" onclick="addSensor()">&#x2B;</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <br>
    <br>
    <br>

    <div id="footer"></div>

    <script>
      // Load header and footer on page load
      $(function(){
          $("#navbar").load("/static/navbar.html");
          $("#footer").load("/static/footer.html");
        });
    </script>

    <div id="snackbar">Update successful :O)</div>

    <script>
      function addSensor() {
        document.body.style.cursor = 'wait';

        // Get the values from the input boxes
        var userDropDown = document.getElementById("userDropDown");
        var user_id = userDropDown.value;
        var user_firstname = userDropDown.options[userDropDown.selectedIndex].getAttribute("first_name");
        var ipAddress = document.getElementById("ipAddressInput").value;
        var location = document.getElementById("locationInput").value;

        // Send an HTTP PUT request to the backend to add the sensor for the user
        fetch('/sensors/add', {
          method: 'PUT',
          body: JSON.stringify({
            user_id: user_id,
            ip_address: ipAddress,
            location: location,
            user_firstname: user_firstname
          }),
          headers: {
            'Content-Type': 'application/json'
          }
        })
        .then((response) => {
          if (response.ok) {
            return response.json();
          }
          return response.json().then(data => {
            throw new Error(data.error);
          });
        })
        .then(data => {
          if (data.success) {
            const msg = data.success;
            localStorage.setItem('sensorAddMessage', msg);
            window.location.reload(true);
          }
        })
        .catch((error) => {
          // Clear the input boxes
          document.getElementById("ipAddressInput").value = "";
          document.getElementById("locationInput").value = "";

          document.body.style.cursor = 'default';
          updateSnackbar(error, "red")
        });
      }

      function deleteSensor(button) {
        var sensor_id = button.getAttribute('sensor_id');
        var user_firstname = button.getAttribute('user_firstname')

        // Send an HTTP PUT request to the backend to delete the sensor for the user
        fetch('/sensors/delete', {
          method: 'PUT',
          body: JSON.stringify({
            sensor_id: sensor_id,
            user_firstname: user_firstname
          }),
          headers: {
            'Content-Type': 'application/json'
          }
        })
        .then((response) => {
          if (response.ok) {
            return response.json();
          }
          msg = `Failed to delete sensor for ${user_firstname} :O(`
          throw new Error(msg);
        })
        .then((data) => {
          if (data.success) {
            const msg = data.success;
            localStorage.setItem('sensorDeleteMessage', msg);
            location.reload();
          }
        })
        .catch((error) => {
          updateSnackbar(error, "red")
        });
      }

      function populateIpAddress() {
        var scanned_ip = document.getElementById("sensorDropDown").value;

        if (scanned_ip != "--select--") {
          document.getElementById("ipAddressInput").value = scanned_ip;
        }
      }

      function scan() {
        document.getElementById("scan").disabled = true;
        document.body.style.cursor = 'wait';

        $.getJSON("/sensors/scan", function(response){
          if (!response.error) {
            var dropdown = $("#sensorDropDown");
            dropdown.empty();
            console.log(response)
            $.each(response, function(key, value) {
              dropdown.append($("<option></option>").attr("value", value).text(value));
            });
            populateIpAddress();

          } else {
            updateSnackbar(response.error, "coral")
          }

          document.body.style.cursor = 'default';
          document.getElementById("scan").disabled = false;
        });
      }

      // After page is refreshed show sensor snackbar info
      window.onload = function() {
        document.body.style.cursor = 'default';
        const sensorAddMessage = localStorage.getItem('sensorAddMessage');
        const sensorDeleteMessage = localStorage.getItem('sensorDeleteMessage');

        if (sensorAddMessage) {
          updateSnackbar(sensorAddMessage, "rgb(121, 196, 137)");
          localStorage.removeItem('sensorAddMessage');
        } else if (sensorDeleteMessage) {
          updateSnackbar(sensorDeleteMessage, "rgb(121, 196, 137)");
          localStorage.removeItem('sensorDeleteMessage');
        }
      };

      function updateSnackbar(message, color) {
        var x = document.getElementById("snackbar");
        x.innerHTML = message

        x.style.backgroundColor = color;

        // Add the "show" class to DIV
        x.className = "show";

        // After 3 seconds, remove the show class from DIV
        setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
      }
    </script>

  </body>
</html>
