<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Expires" content="0"/>

    <title>SeamNet - Settings</title>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script type="text/javascript">
      sessionStorage.setItem("hash", "{{ hash }}");
    </script>

    <link rel="stylesheet" href="../static/styles.css">
  </head>

  <body>
    <div id="navbar"></div>

    <div>
      <h1 class="h1">User Settings</h1>
    </div>

    <div id="tableContainer-1">
      <div id="tableContainer-2">
        <table class="user-table" style="margin-top: 50px; width: 80%; height: auto">
          <tr>
            <th>User</th>
            <th>Phone</th>
            <th>Telegram Notifications</th>
            <th>SMS Notifications (backup)</th>
          </tr>
          <tbody>
            {% for user, id, num, status1, status2, chat_id in users|zip(ids, phone_nums, telegram_statuses, sms_statuses, chat_ids) %}
              <tr>
                <td>{{ user }}</td>
                <td>{{ num }}</td>
                <td>
                  <input type="checkbox" name="telegram_notifications" class="checkbox" first-name="{{ user }}" user-id="{{ id }}" chat-id="{{ chat_id }}" {% if status1 %}checked{% endif %} onclick="updateNotifications(this, 'Telegram')">
                </td>
                <td>
                  <input type="checkbox" name="sms_notifications" class="checkbox" first-name="{{ user }}" user-id="{{ id }}" {% if status2 %}checked{% endif %} onclick="updateNotifications(this, 'SMS')">
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

    <br>
    <br>
    <br>

    <div>
      <h1 class="h1">System Preferences</h1>
    </div>

    <div id="tableContainer-1">
      <div id="tableContainer-2">
        <table class="user-table" style="margin-top: 50px; width: 80%; height: auto">
          <tr>
            <th>App Settings</th>
            <th></th>
          </tr>
          <tbody>
            <tr>
              <td><b>Message Cool-Off</b><br>(Seconds between consecutive messages)</td>
              <td>
                <label for="message_cooloff"></label>
                <input type="range" id="message_cooloff" name="message_cooloff" class="slider" min="15" max="180" step="15" value="{{ message_cooloff }}" style="width: 80px;">
                &emsp;<b id="cooloff_text">{{ message_cooloff }}</b>
                <button id="update" class="button-81" role="button" style="margin-left: 10px;" onclick="updateMessageCooloff()">&#x2713;</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div id="tableContainer-1">
      <div id="tableContainer-2">
        <table class="user-table" style="margin-top: 50px; width: 80%; height: auto">
          <tr>
            <th>Advanced Settings</th>
            <th></th>
          </tr>
          <tbody>
            <tr>
              <td><b>Minimum Confidence Threshold</b><br>(Lowest percentage for detection results)</td>
              <td>
                <label for="conf_threshold"></label>
                <input type="range" id="conf_threshold" name="conf_threshold" class="slider" min="0.1" max="0.9" step="0.1" value="{{ min_conf }}" style="width: 80px;">
                &emsp;<b id="conf_text">{{ min_conf }}</b>
                <button id="update" class="button-81" role="button" style="margin-left: 10px;" onclick="updateMinConfidenceThreshold()">&#x2713;</button>
              </td>
            </tr>
            <tr>
              <td style="vertical-align:top;"><b>Enable/Disable Detection</b><br>(Select cameras to run detection on)<br><br>Note:<br>Optimal performance is 3 cam max</td>
              <td>
                <div id="tableContainer-1">
                  <div id="tableContainer-2">
                    <table class="user-table" id=tableContainer-1-small>
                      <!-- <tr>
                        <th>Camera</th>
                        <th>Enable/Disable</th>
                      </tr> -->
                      <tbody>
                        {% for cam_name, enabled in cams|zip_detection(cam_statuses) %}
                          <tr>
                            <td>{{ cam_name }}</td>
                            <td style="margin-left:50px; padding: 5px; float: left;">
                              <input type="checkbox" class="checkbox" detect_status="{{ cam_name }}" {% if enabled %}checked{% endif %} onclick="updateCamDetection(this)">
                            </td>
                          </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <br>
    <br>
    <br>

    <div id="footer"></div>

    <script>
      // Load header and footer on page load
      $(function(){
          $("#navbar").load("/static/navbar.html");
          $("#footer").load("/static/footer.html");
        });
    </script>

    <div id="snackbar">Update successful :O)</div>

    <script>
      function updateNotifications(checkbox, service) {
        var user = checkbox.getAttribute('first-name');
        var user_id= checkbox.getAttribute('user-id');
        var chat_id = checkbox.getAttribute('chat-id');

        if (service == "Telegram" && chat_id == 'None') {
          checkbox.checked = false;
          openTelegram(user_id)
          setTimeout(function(){
            window.location.reload();
          }, 10000);
          return;
        }

        // Send an HTTP PUT request to the backend to update the user's notifications
        fetch('/users/' + user_id + '/' + service + '/notifications', {
          method: 'PUT',
          body: JSON.stringify({
            notification_status: checkbox.checked
          }),
          headers: {
            'Content-Type': 'application/json'
          }
        })
        .then((response) => {
          let msg = ""
          response.ok ? msg = `${service} notifications updated for \"${user}\" :O)` :
                        msg = `${service} notifications failed to update for \"${user}\" :O(`
          updateSnackbar(msg)
        })
        .catch((error) => {
          // Handle any errors
          updateSnackbar(error)
        });
      }

      function updateCamDetection(checkbox) {
        // Get the user ID from the "data-user-id" attribute
        var cam = checkbox.getAttribute('detect_status');

        // Send an HTTP PUT request to the backend to update the user's SMS notifications
        fetch('/settings/' + cam + '/update-detection', {
          method: 'PUT',
          body: JSON.stringify({
            detection_state: checkbox.checked
          }),
          headers: {
            'Content-Type': 'application/json'
          }
        })
        .then((response) => {
          let msg = ""
          response.ok ? msg = `\"${cam}\" camera detection updated :O)` :
                        msg = `Failed to update \"${cam}\" camera detection :O(`
          updateSnackbar(msg)
        })
        .catch((error) => {
          // Handle any errors
          updateSnackbar(error)
        });
      }

      function updateMessageCooloff() {
        // Get the user ID from the "data-user-id" attribute
        var value = document.getElementById("message_cooloff").value

        // Send an HTTP PUT request to the backend to update the user's SMS notifications
        fetch('/settings/message-cooloff', {
          method: 'PUT',
          body: JSON.stringify({
            new_cooloff: value
          }),
          headers: {
            'Content-Type': 'application/json'
          }
        })
        .then((response) => {
          let msg = ""
          response.ok ? msg = "Message cooloff updated :O)" :
                        msg = "Failed to update message cooloff :O("
          updateSnackbar(msg)
        })
        .catch((error) => {
          // Handle any errors
          updateSnackbar(error)
        });
      }

      function updateMinConfidenceThreshold() {
        // Get the user ID from the "data-user-id" attribute
        var value = document.getElementById("conf_threshold").value

        // Send an HTTP PUT request to the backend to update the user's SMS notifications
        fetch('/settings/conf-threshold', {
          method: 'PUT',
          body: JSON.stringify({
            new_conf_threshold: value
          }),
          headers: {
            'Content-Type': 'application/json'
          }
        })
        .then((response) => {
          let msg = ""
          response.ok ? msg = "Confidence threshold updated :O)" :
                        msg = "Failed to update confidence threshold :O("
          updateSnackbar(msg)
        })
        .catch((error) => {
          // Handle any errors
          updateSnackbar(error)
        });
      }

      function updateSnackbar(message) {
        var x = document.getElementById("snackbar");
        x.innerHTML = message

        // Add the "show" class to DIV
        x.className = "show";

        // After 3 seconds, remove the show class from DIV
        setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
      }
    </script>
    
    <script>
      var cooloffSlider = document.getElementById("message_cooloff");
      var cooloffText = document.getElementById("cooloff_text");
      cooloffText.innerHTML = cooloffSlider.value;
        
      cooloffSlider.oninput = function() {
        cooloffText.innerHTML = this.value;
      }

      var confSlider = document.getElementById("conf_threshold");
      var confText = document.getElementById("conf_text");
      confText.innerHTML = confSlider.value;
        
      confSlider.oninput = function() {
        confText.innerHTML = this.value;
      }
    </script>
  </body>
</html>
