<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Expires" content="0"/>

    <title>SeamNet - Settings</title>
    <link rel="stylesheet" href="../static/styles.css">
  </head>
  
  <body>
    <div id="navbar"></div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script>
      $(function(){
        $("#navbar").load("../static/navbar.html");
      });
    </script>

    <div>
      <h1 class="h1">User Settings</h1>
    </div>

    <div id="tableContainer-1">
      <div id="tableContainer-2">
        <table class="user-table" style="margin-top: 50px; width: 80%; height: auto">
          <tr>
            <th>User</th>
            <th>Phone</th>
            <th>SMS Notifications</th>
          </tr>
          <tbody>
            {% for user, num, status in users|zip(phone_nums, statuses) %}
              <tr>
                <td>{{ user }}</td>
                <td>{{ num }}</td>
                <td>
                  <input type="checkbox" name="sms_notifications" class="checkbox" data-user-id="{{ user }}" {% if status %}checked{% endif %} onclick="updateSmsNotifications(this)">
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

    <br>
    <br>
    <br>

    <div>
      <h1 class="h1">System Preferences</h1>
    </div>

    <div id="tableContainer-1">
      <div id="tableContainer-2">
        <table class="user-table" style="margin-top: 50px; width: 80%; height: auto">
          <tr>
            <th>Advanced Settings</th>
            <th></th>
          </tr>
          <tbody>
            <tr>
              <td>Minimum Confidence Threshold<br>(lowest confidence for detection results)</td>
              <td>
                <label for="conf_threshold">(0.1 - 0.9): &emsp;</label>
                <input type="number" id="conf_threshold" name="conf_threshold" class="numberbox" min="0.1" max="0.9" step="0.1" value="{{ min_conf }}">
                <button id="update" class="button-81" role="button" style="margin-left: 30px;" onclick="updateMinConfidenceThreshold()">Update</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div id="snackbar">Update successful :O)</div>

    <script>
      function updateSmsNotifications(checkbox) {
        // Get the user ID from the "data-user-id" attribute
        var user = checkbox.getAttribute('data-user-id');

        // Send an HTTP PUT request to the backend to update the user's SMS notifications
        fetch('/users/' + user + '/sms-notifications', {
          method: 'PUT',
          body: JSON.stringify({
            sms_notifications: checkbox.checked
          }),
          headers: {
            'Content-Type': 'application/json'
          }
        })
        .then(function(response) {
          updateSnackbar("SMS notifications updated :O)")
        })
        .catch(function(error) {
          // Handle any errors
        });
      }
    </script>

    <script>
      function updateMinConfidenceThreshold() {
        // Get the user ID from the "data-user-id" attribute
        var value = document.getElementById("conf_threshold").value

        console.log(value)

        // Send an HTTP PUT request to the backend to update the user's SMS notifications
        fetch('/settings/conf-threshold', {
          method: 'PUT',
          body: JSON.stringify({
            new_conf_threshold: value
          }),
          headers: {
            'Content-Type': 'application/json'
          }
        })
        .then(function(response) {
          updateSnackbar("Confidence threshold updated :O)")
        })
        .catch(function(error) {
          // Handle any errors
        });
      }
    </script>

    <script>
      function updateSnackbar(message) {
        var x = document.getElementById("snackbar");
        x.innerHTML = message

        // Add the "show" class to DIV
        x.className = "show";

        // After 3 seconds, remove the show class from DIV
        setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
      }
    </script>
  </body>
</html>
